<!-- header desktop-->
<div class="header">
    <!-- header top -->
    <div class="header__top">
        <div class="container">
            <div class="top-left">
                <ul class="left text-uppercase">
                    <li><a href="http://">cửa hàng</a></li>
                    <li><a href="http://">hỗ trợ</a></li>
                    <li><a href="http://">faq</a></li>
                    <li><a href="http://">liên hệ: (+84) 934 323 882</a></li>
                </ul>
            </div>
            <div class="top-right">

            </div>
        </div>
    </div>
    <!-- end header top -->
    <!-- logo-menu -->
    <div class="header-abs">
        <div class="container">
            <!-- header logo -->
            <div class="header__logo">
                
            </div>
            <!-- end header logo -->
            <!-- header menu -->
            <ul class="menu-list">
                <li class="item-list"><a href="http://"></a></li>
                <li class="item-list"><a href="http://"></a></li>
                <li class="item-list"><a href="http://"></a></li>
                <li class="item-list"><a href="http://"></a></li>
                <li class="item-list"><a href="http://"></a></li>
                <li class="item-list"><a href="http://"></a></li>
                <li class="item-list"><a href="http://"></a></li>
            </ul>
            <!-- end header menu -->
        </div>
    </div>
    <!-- end logo menu -->
</div>
<!-- end header -->