.wrapper{
    width: 100%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}



/* about us */

.about-us{
    padding: 1.5rem 0;
    font-family: 'Roboto', sans-serif;
}

    /* about introduce */

    .about-us .about-introduce {
        padding-bottom: 1.5rem;
        color: #333333;
    }

    .about-us .about-introduce .intro-head h1{
        text-transform: uppercase;
        position: relative;
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 4.5rem;
        margin-bottom: 3rem;
    }

    .about-us .about-introduce .intro-head h1::after{
        position: absolute;
        bottom: -10px;
        right: 0;
        left: 0;
        margin: auto ;
        content: '';
        width: 5rem;
        height: 3px;
        background-color: #C51230;
    }

    .about-us .about-introduce .intro-body p{
        font-size: 1.6rem;
        font-weight: 500;
    }

    .about-us .about-introduce .intro-body a{
        color: #C51230;
        text-decoration: underline;
    }
    
    .about-us .about-introduce .intro-body a:hover{
        color: #ed3755;
        text-decoration: underline;
    }

    /* end about introduce */

    /* ABOUT VISION */

    .about-us .about-vision {
        padding-bottom: 1.5rem;
        color: #333333;
    }

    .about-us .about-vision .vision-head h1{
        margin-bottom: 3rem;
        position: relative;
        text-transform: uppercase;
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 4.5rem;
    }

    .about-us .about-vision .vision-head h1::after{
        content: '';
        position: absolute;
        bottom: -10px;
        right: 0;
        left: 0;
        margin: auto;
        width: 5rem;
        height: 3px;
        background-color: #c5123c;
    }

    .about-us .about-vision .vision-body img{
        width: 100%;
    }

    .about-us .about-vision .vision-body p{
        font-size: 1.6rem;
        font-weight: 500;
        padding-top: 1.5rem;
    }

    /* end about vision */

    /* about mission */

    .about-us .about-mision {
        padding-bottom: 1.5rem;
        color: #333333;
    }

    .about-us .about-mission .mission-head h1{
        margin-bottom: 3rem;
        position: relative;
        text-transform: uppercase;
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 4.5rem;
    }

    .about-us .about-mission .mission-head h1::after{
        content: '';
        position: absolute;
        bottom: -10px;
        right: 0;
        left: 0;
        margin: auto;
        width: 5rem;
        height: 3px;
        background-color: #c5123c;
    }

    .about-us .about-mission .mission-body img{
        width: 100%;
    }

    .about-us .about-mission .mission-body p{
        font-size: 1.6rem;
        font-weight: 500;
        padding-top: 1.5rem;
    }

    /* end about mission */

    /* about value */

    .about-us .about-value {
        padding-bottom: 1.5rem;
        color: #333333;
    }

    .about-us .about-value .value-head h1{
        margin-bottom: 3rem;
        position: relative;
        text-transform: uppercase;
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 4.5rem;
    }

    .about-us .about-value .value-head h1::after{
        content: '';
        position: absolute;
        bottom: -10px;
        right: 0;
        left: 0;
        margin: auto;
        width: 5rem;
        height: 3px;
        background-color: #c5123c;
    }

    .about-us .about-value .value-body img{
        width: 100%;
    }

    .about-us .about-value .value-body p{
        font-size: 1.6rem;
        font-weight: 500;
        padding-top: 1.5rem;
    }

    .about-us .about-value .value-body p span{
        color: #FF6600;
    }

    /* end about value */

/* end about us */