.wrapper{
    width: 100%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}



/* contact */

.contact {
    padding: 1.5rem 0;
}

.contact .contact-head h1{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 4.5rem;
    position: relative;
    margin-bottom: 3rem;
}

.contact .contact-body .address a{
    color:black;
}

.contact .contact-body .address a:hover{
    color:#C51230;
    text-decoration: none;
}

.contact .contact-head h1::after{
    content: '';
    width: 5rem;
    height: 3px;
    position: absolute;
    background-color:#C51230;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -10px;
}

.contact .contact-body .office {
    padding: 1rem 0;
    background-color: #F9F9F9;
    margin-bottom: 3rem;
}

.contact .contact-body .office h2{
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}

.contact .contact-body .office p{
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.contact .contact-body .telephone {
    padding: 1rem 0;
    background-color: #F9F9F9;
    margin-bottom: 3rem;
}

.contact .contact-body .telephone h2{
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}

.contact .contact-body .telephone p{
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.contact .contact-body .email {
    padding: 1rem 0;
    background-color: #F9F9F9;
    margin-bottom: 3rem;
}

.contact .contact-body .email h2{
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}

.contact .contact-body .email p{
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.contact .contact-body .google-map iframe{
    width: 100%;
    margin-bottom: 3rem;
}

.contact .contact-body form p{
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}

.contact .contact-body form input{
    width: 100%;
    margin: 5px 0;
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding: 10px 0 10px 10px;
    border: 1px solid #DEDEDE;
    color:#959595;
    border-radius: 5px;
}

.contact .contact-body form input:focus{
    outline: none;
    border: 1px solid #DEDEDE;
}

.contact .contact-body form textarea{
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 1.4rem;
    color:#959595;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
}

.contact .contact-body form textarea:focus{
    outline: none;
    border: 1px solid #DEDEDE;
}

.contact .contact-body form button{
    text-transform: uppercase;
    padding: 10px ;
    font-size: 1.4rem;
    color:#ffffff;
    margin: 5px 0;
    float: right;
    background-color: #C51230;
    border-radius: 3px;
    border: 1px solid #C51230;
}

.contact .contact-body form button:focus{
    outline: none;
    border: 1px solid #C51230;
}

/* end contact */

/* shop system */

.shop-system {
    padding-top: 1rem;
}

.shop-system .shop-system-head h1{
    position: relative;
    text-transform: uppercase;
    font-size: 3.2rem;
    line-height: 4.5rem;
    margin-bottom: 3rem;
}

.shop-system .shop-system-head h1::after{
    position: absolute;
    content: '';
    bottom: -10px;
    right: 0;
    left: 0;
    margin: auto;
    width: 5rem;
    height: 3px;
    background-color: #C51230;
}

.shop-system .shop-child {
    padding-bottom: 3rem;
}

.shop-system .shop-child .shop-img{
    overflow: hidden;
    transition: 0.7s ease;
}

.shop-system .shop-child .shop-img img{
    width: 100%;
    overflow: hidden;
    transition: 0.7s ease;
}

.shop-system .shop-child .shop-img img:hover{
    transform: scale(1.05);
    overflow: hidden;
    transition: 0.7s ease;
}

.shop-system .shop-child .shop-decs {
    font-size: 1.4rem;
    padding: 5px 0 0 0 ;
}

.shop-system .shop-child .shop-decs a{
    color: black;
}

.shop-system .shop-child .shop-decs a:hover{
    color: #C51230;
    text-decoration: none;
}

/* end shop system */
