/* footer */

.footer{
    background-color: #000000;
    color:white;
    font-family: 'Roboto', sans-serif;
    line-height: 2.2rem;
}

.footer .contact{
    border-right: 1px solid #444444;
}

.footer .footer-contact{
    padding: 3rem 2rem 0 0;
}

.footer .footer-contact .footer-logo-img img{
    width: 50%;
}

.footer .footer-contact .footer-contact-item {
    margin: 0 0 10px 0;
    font-size: 1.4rem;
    line-height: 2.2rem;
    
}

.footer .footer-contact .footer-contact-item h2.footer-title{
    margin: 5px 0 10px 0;
    text-transform: uppercase;
    font-weight: 1000;
}

.footer .footer-contact .footer-contact-item a{
    color:white;
}

.footer .footer-contact .footer-contact-item a:hover{
    color:#C51230;
    text-decoration: none;
}

.footer .footer-contact .footer-contact-item span{
    font-weight: 700;
}

.footer .footer-contact .footer-contact-social{
    padding-top: 7rem;
}

.footer .footer-contact .footer-contact-item h3{
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-weight: 500;
}

.footer .footer-contact .footer-contact-social .footer-contact-item a {
    padding-right: 5px;
}

.footer .footer-contact .footer-contact-social .footer-contact-item a i.fa-facebook-f{
    background-color: rgb(59,89,152);
    color:white;
    padding:10px  ;
    border-radius: 5px;
}

.footer .footer-contact .footer-contact-social .footer-contact-item a i.fa-instagram{
    background-color: #C32AA3;
    color:white;
    padding:10px  7px;
    border-radius: 5px;
}

.footer .footer-contact .footer-contact-social .footer-contact-item a i.fa-youtube{
    background-color: #FF0000;
    color:white;
    padding:10px  5px;
    border-radius: 5px;
}

.footer .footer-contact .footer-contact-social .footer-contact-item a i.fa-twitter{
    background-color: #00B6F1;
    color:white;
    padding:10px 7px ;
    border-radius: 5px;
}

.footer .footer-contact .footer-contact-social .footer-contact-item a i.fa-google-plus-g{
    background-color: #DF4A32;
    color:white;
    padding:10px  5px;
    border-radius: 5px;
}

.footer .footer-contact .footer-contact-social .footer-contact-item a i.fa-linkedin-in{
    background-color: #0077B5;
    color:white;
    padding:10px  7px;
    border-radius: 5px;
}

/* footer navbar */

.footer .footer-navbar{
    padding: 10rem 0 1rem 2rem;
    border-bottom: 1px solid #444444;
}

.footer .footer-navbar h3{
    font-weight: 700;
    font-size: 1.6rem;
    padding-bottom: 5px;
}

.footer .footer-navbar ul.no-bullets {
    font-size: 1.4rem;
    padding-left: 0px;
    margin-bottom: 0px;
}

.footer .footer-navbar ul.no-bullets li{
    list-style: none;
    padding: 8px 0;
    margin-bottom: 2.5px;
}

.footer .footer-navbar ul.no-bullets li a{
    color: #ffffff;
    transition: 0.5s ease;
}

.footer .footer-navbar ul.no-bullets li a:hover{
    color: #C51230;
    text-decoration: none;
    transition: 0.5s ease;
}

/* footer copyright */

.footer .footer-copyright{
    padding: 2rem 0;
    text-align: center;
    font-size: 1.4rem;
    color: white;
}

.footer .footer-copyright a{
    color: white;
    transition: 0.5s ease;
}

.footer .footer-copyright a:hover{
    text-decoration: none;
    color: #C51230;
    transition: 0.5s ease;
    font-weight: 400;
}

@media (max-width:480px){
    
    /* footer contact */
    .footer .footer-contact{
        border-right: 0px;
    }
    .footer .footer-navbar{
        padding: 10rem 0 1rem 0;
        border-bottom: 1px solid #444444;
    }
}