/* color:#C51230; */
.wrapper{
    position: relative;
}
/* modal */

.modal{
    background-color: rgba(45, 45, 50, 0.8);
    z-index: 2000;
    font-family: 'Roboto', sans-serif;
}

#modal-modal .modal-content{
    margin: 5% auto;
    display: block;
    background-image: url('../img/popup_bg.png');
    background-position: center;
    background-size: cover;
    max-width: 750px;
    width: 90%;
    position: relative;
    /* position: fixed; */
}

#modal-modal .modal-content .close{
    opacity: 1;
    font-size: 1rem;
}

#modal-modal .modal-content a .fa-times-circle{
    color: #C51230;
    position: absolute;
    top:-15px;
    right: -15px;
    z-index: 30;
}

#modal-modal .modal-content .popup{
    left: 50%;
    position: relative;
    width: 50%;

}

#modal-modal .modal-content .popup .popup-content{
    background: rgba(255, 255, 255, 0.8);
    padding: 3rem 1.5rem;
}

#modal-modal .modal-content .popup .popup-content .popup-title{
    color: #C51230;
    padding-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 900;
}

#modal-modal .modal-content .popup .popup-content .popup-decs{
    padding-bottom: 1.5rem;
    font-size: 1.4rem;
}

#modal-modal .modal-content .popup .popup-content .popup-list{
    padding-bottom: 1.5rem;
    font-size: 1.4rem;
}

#modal-modal .modal-content .popup .popup-content .popup-list ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

#modal-modal .modal-content .popup .popup-content .popup-list ul li  {
    position: relative;
    margin-bottom: 5px;
    padding-left: 15px;
}

#modal-modal .modal-content .popup .popup-content .popup-list ul li::after {
    content: '\f111';
    font-family: FontAwesome;
    position: absolute;
    top: calc(50% - 3px);
    left: 0;
    font-size: 6px;
    color: #c51230;
    line-height: normal !important;
}

#modal-modal .modal-content .popup .popup-content .popup-form .form-decs{ 
    padding-bottom: 1.5rem;
    font-size: 1.6rem;
}

#modal-modal .modal-content .popup .popup-content .popup-form form{ 
    position: relative;
}

#modal-modal .modal-content .popup .popup-content .popup-form input{ 
    width: 100%;
    height: 40px;
    border:1px solid #C51230;
    outline: 0 !important;
    padding: 0px 45px 0px 15px;
    border-radius: 100px;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
}

#modal-modal .modal-content .popup .popup-content .popup-form button{ 
    position: absolute;
    background-color: #C51230;
    border: 0px;
    color: white;
    right: 3px;
    top: 3px;
    height: 34px;
    width: 34px;
    border-radius: 50px;
}

#modal-modal .modal-content .popup .popup-content .popup-form button:focus{
    outline: none;
    border: none;
}

#modal-modal .modal-content .popup .popup-content .popup-form .popup-social-network i{
    background-color: #C51230;
    color: white;
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 50px;
    line-height: 3rem;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* end modal */

html{
    font-size: 62.5%;
}



/* slide */

.body .slide .item img{
    width: 100%;
}

.slick-dots
{
    bottom: 10px !important;
}

.slick-dots li button::before,
.slick-dots li.slick-active button:before {
    color: #C51230 !important;
}

.slick-dots li button:before {
    font-size: 1.2rem !important;
}

/* end slide */

/* danh mục tiêu biểu  */

.typical__category {
    padding: 6rem 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.typical__category .category-head {
    padding-bottom: 3rem;
}

.typical__category .category-head h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    line-height: 4.2rem;
    position: relative;
    font-weight: 300;
}

.typical__category .category-head h1::after{
    content: '';
    position: absolute;
    bottom: -10px;
    height: 3px;
    width: 5rem;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #C51230;
}

.typical__category .category .typical {
    padding-bottom: 3rem;
}

.typical__category .category .typical a{
    position: relative;
    color:white;
    display: block;
}

.typical__category .category .typical .typical-img img{
    width: 100%;
}

.typical__category .category .typical .typical-title {
    position: absolute;
    z-index: 2;
    width: 45%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transition: 0.7s ease;
}

.typical__category .category .typical .typical-title .text {
    width: 100%;
    height: 100%;
    display: table;
    padding: 0 1rem;
}

.typical__category .category .typical .typical-title h3{
    text-transform: uppercase; 
    text-align: center;
    font-size: 3.2rem;
    display: table-cell;
    vertical-align: middle;
}

.typical__category .category .typical a:hover .typical-title{
    background-color:#C51230;
    transition: 0.7s ease;
}

.typical__category .category .typical a .typical-img {
    overflow: hidden;
    transition: 0.7s ease;
}



.typical__category .category .typical a .typical-img img {
    overflow: hidden;
    transition: 0.7s ease;
}

.typical__category .category .typical a:hover .typical-img img {
    overflow: hidden;
    transition: 0.7s ease;
    transform: scale(1.1);
}

/* end danh mục tiêu biểu */

/* sản phẩm tiêu biểu */

.typical__product {
    font-family: 'Roboto', sans-serif;
    padding: 3rem 0 0 0;
}

.typical__product .container{
    padding: 0;
}

.typical__product .product-head {
    padding-bottom: 3rem;
}

.typical__product .product-head h1{
    text-transform: uppercase;
    font-size: 3rem;
    position: relative;
    font-weight: 300;
}

.typical__product .product-head h1::after{
    content:'';
    width: 5rem;
    height: 3px;
    bottom: -10px;
    background-color: #C51230;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.typical__product .product-slide .item{
    padding: 0 1.5rem;
}

.typical__product .product-slide .item .product-item{
    padding-bottom: 3rem;
}


.product-item a:hover{
    text-decoration: none;
}

.product-item .product-img {
    overflow: hidden;
    transition: 0.7s ease;
}

.product-item:hover .product-img img{
    overflow: hidden;
    transition: 0.7s ease;
    transform: scale(1.1);
}

.product-item .product-img img{
    width: 100%;
    overflow: hidden;
    transition: 0.7s ease;
}

.product-item .product-item-info .product-type a{
    font-size: 1.8rem;
    color: #000000;
}

.product-item .product-item-info .product-title a{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #000000;
}

.product-item .product-item-info .product-price span{
    color: #C51230;
    font-size: 1.6rem;
    font-weight: 700;
}

.product-item .product-item-info .product-btn {
    margin-top: 1rem;
    display: flex;
}

.product-item .product-item-info .product-btn .add-to-cart{
    color:#9B9B9B;
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 50%;
    padding: 7px 5px;
    background-color: #F5F5F5;
}

.product-item .product-item-info .product-btn .buy-now{
    color:#F7DFE3;
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 50%;
    padding: 7px 5px;
    background-color: #C51230;
}

.product-slide .slick-dots{
    bottom: -35px !important;
}

/* end sản phẩm tiêu biểu */

/* news */

.news{
    padding: 3rem 0 0 0;
    font-family: 'Roboto', sans-serif;
    line-height: 2.2rem;
}

.news .container{
    padding: 0px;
}

.news .news-inner .news-h1{
    margin-bottom: 4rem;
}

.news .news-inner h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    position: relative;
}

.news .news-inner h1::after{
    content: '';
    width: 5rem;
    height: 3px;
    background-color:#C51230;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin:auto;
}

.news .news-inner .news-slide .item {
    padding: 0 1.5rem;
}

.news .news-inner .news-slide .item .news-img {
    transition: 1s ease;
    overflow: hidden;
}

.news .news-inner .news-slide .item .news-img img{
    transition: 1s ease;
    overflow: hidden;
}

.news .news-inner .news-slide .item .news-img img:hover{
    transform: scale(1.1);
    transition: 1s ease;
    overflow: hidden;
}

.news .news-inner .news-slide .item .news-info .news-title{
    padding-top: 1rem ;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
}

.news .news-inner .news-slide .item .news-info .news-title a{
    color:#000000;
}

.news .news-inner .news-slide .item .news-info .news-title a:hover{
    color:#C51230;
    text-decoration: none;
}

.news .news-inner .news-slide .item .news-info .news-decs{
    font-size: 1.4rem;
    font-weight: 300;
    text-align: justify;
    border-bottom: 1px solid #DEDEDE;
}

.news .news-inner .news-slide .item .news-info .info-news{
    font-size: 1.4rem;
    padding: 1rem 0;
    display: flex;
}

.news .news-inner .news-slide .item .news-info .info-news div{
    padding-right: 1.5rem;
}

.news .news-inner .news-slide .item .news-info .info-news div i{
    color:#C51230;
}

.news-slide .slick-dots{
    bottom: -25px !important;
}

/* end news */

/* thiết kế nội thất */

.interior__design{
    padding: 6rem 0;
}

.interior__design .design .design-title {
    margin-bottom: 3rem;
}

.interior__design .design .design-title h1{
    font-size: 3rem;
    font-weight: 300;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.interior__design .design .design-title h1::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin:auto;
    content: '';
    width: 50px;
    height: 3px;
    background: #C51230;
}

.design .collection-body .collection-img a img{
    width: 100%;
}

 .design .collection-body .collection-wrapper{
    position: relative;
    margin-bottom: 3rem;
}

.design .collection-body .collection-wrapper .collection-img{
    transition: 1s ease;
    overflow: hidden;
}

.design .collection-body .collection-wrapper .collection-img img{
    transition: 1s ease;
    overflow: hidden;
}

.design .collection-body .collection-wrapper:hover .collection-img img{
    transition: 1s ease;
    overflow: hidden;
    transform: scale(1.05);
}

.design .collection-body .collection-wrapper .collection-decs{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding: 5rem 0;
}

.design .collection-body .collection-wrapper .collection-decs .decs-title h3{
    font-size: 3.2rem;
    line-height: 4.5rem;
    font-weight: 900;
    color: white;
}

.design .collection-body .collection-wrapper .collection-decs .decs-content h3{
    font-size: 3rem;
    line-height: 4.2rem;
    font-weight: 400;
    color: white;
}

.design .collection-body .collection-wrapper .collection-decs .decs-btn{
    background-color: #C51230;
    color:white;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 2rem;
    line-height: 2.2rem;
    margin-top: 2rem;
}

.design .collection-body .collection-wrapper .collection-decs .decs-btn:hover{
    text-decoration: none;
}

.design .collection-body .collection-wrapper .collection-haft{
    position: absolute;
    top:0;
    left:0;
    right:0;
    padding: 5rem 0;
}

.design .collection-body .collection-wrapper .collection-haft .decs-title h3{
    font-size: 3.2rem;
    line-height: 4.5rem;
    font-weight: 900;
    color: white;
}

.design .collection-body .collection-wrapper .collection-haft .decs-content h3{
    font-size: 3rem;
    line-height: 4.2rem;
    font-weight: 400;
    color: white;
}

.design .collection-body .collection-wrapper .collection-haft .decs-btn{
    background-color: #C51230;
    color:white;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 2rem;
    line-height: 2.2rem;
    margin-top: 2rem;
}

.design .collection-body .collection-wrapper .collection-haft .decs-btn:hover{
    text-decoration: none;
}

.design .collection-body .haft .collection-wrapper .collection-img{
    transition: 1s ease;
    overflow: hidden;
}

.design .collection-body .haft .collection-wrapper .collection-img img{
    transition: 1s ease;
    overflow: hidden;
}

.design .collection-body .haft .collection-wrapper:hover .collection-img img{
    transition: 1s ease;
    overflow: hidden;
    transform: scale(1.05);
}

/* địa chỉ */

.address{
    background-image: url('../img/home_contact_bg.webp');
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.address .address-contact-bg{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.address .address-contact-bg .address-inner{
    padding: 5rem 0px 8rem 0px;
}

.address .address-contact-bg .address-inner .inner{
    padding: 3rem 0px;
    color: white;
}

.address .address-contact-bg .address-inner .inner .address-inner-head h2{
    font-size: 3rem;
    line-height: 4.2rem;
    font-weight: 300;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.address .address-contact-bg .address-inner .inner .address-inner-head h2::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin:auto;
    content: '';
    width: 50px;
    height: 3px;
    background: #C51230;
}

.address .address-contact-bg .address-inner .inner .address-inner-head {
    margin-bottom: 2rem;
}

.address .address-contact-bg .address-inner .inner .address-inner-body {
    max-width: 500px;
    margin:0 auto;
    padding: 10px;
}

.address .address-contact-bg .address-inner .inner .address-inner-body .body-content{
    font-size: 1.4rem;
    text-align: center;
}

.address .address-contact-bg .address-inner .inner .address-inner-body .body-btn{
    margin-top: 2rem;
}

.address .address-contact-bg .address-inner .inner .address-inner-body .body-btn a{
    text-transform: uppercase;
    padding: 7px 10px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    background-color: #C51230;
    color:white;
}

.address .address-contact-bg .address-inner .inner .address-inner-body .body-btn a:hover{
    text-decoration: none;
}











