.wrapper{
    width: 100%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}



/* body */

.login{
    padding: 1.5rem;
    font-family: 'Roboto', sans-serif;
}


    /* login head */

    .login .login-head h1{
        text-transform: uppercase;
        position: relative;
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 4.5rem;
        margin-bottom: 3rem;
    }

    .login .login-head h1::after{
        position: absolute;
        bottom: -10px;
        right: 0;
        left: 0;
        margin: auto ;
        content: '';
        width: 5rem;
        height: 3px;
        background-color: #C51230;
    }


    /* end login head */

    /* login body */

    .login .login-body {
        max-width: 375px;
        right: 0;
        left: 0;
        margin:auto;
    }

    .login .login-body form input{
        width: 100%;
        margin: 5px 0;
        padding: 10px 10px;
        border: 1px solid #DEDEDE;
        font-size: 1.4rem;
        border-radius: 3px;
    }

    .login .login-body form input:focus{
        
        border: 1px solid #DEDEDE;
        outline: none;
    }

    .login .login-body form button{
        width: 100%;
        margin: 5px 0;
        padding: 10px 10px;
        border: 1px solid #C51230;
        background-color: #C51230;
        color: #ffffff;
        font-size: 1.4rem;
        border-radius: 3px;
    }

    .login .login-body form button:focus{
        border: 1px solid #DEDEDE;
        outline: none;
    }

    .login .login-body form button:hover{
        background-color: #960e25;
    }

    .login .login-body form p>a{
        color: #C51230;
        font-size: 1.4rem;
    }

    .login .login-body form p>a:hover{
        color: #ed3755;
        text-decoration: none;
    }

    /* end login body */

/* end body */

