/* header-top */

.header .header__top{
    padding: 1rem 0;
    background-color: #EEEEEE;
    
}

.header .header__top .left-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header__top  ul {
    list-style-type: none;
    display: flex;
    margin: 0 ;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.2rem;
    font-family: 'Roboto', sans-serif;
}

/* header-top left */

.header .header__top  ul.left li{
    padding: 0 0 0 5px;
}

.header .header__top ul.left li a{
    color: black;
}

.header .header__top  ul.left li a:hover{
    color: #C51230;
    text-decoration: none;
}

.header .header__top  ul.left li a  span{
    color: #C51230;
}
/* header-top right */

.header .header__top  ul.right li{
    padding: 0 0 0 5px;
}

.header .header__top ul.right li a  {
    color: black;
}

.header .header__top  ul.right li a:hover  {
    color: #C51230;
    text-decoration: none;
}

/* quickview-cart */

.view .view-cart{
    position: relative;
}

.header__top .left-right .right li.view .hd-cart-count{
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    background: #c51230;
    font-size: 10px;
    color: #fff;
    position: absolute;
    right: -5px;
    top: -10px;
    text-align: center;
}

.header__top .left-right .right li.view{
    position: relative;
    cursor: pointer;
}

.header__top .left-right .right .quickview-cart{
    position: absolute;
    top:100%;
    z-index: 20;
    text-align: left;
    top: 100%;
    right: 0px;
    width: 280px;
    padding: 5px;
    display: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}


.header__top .left-right .right .quickview-cart h3{
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    display: block;
    background: #c51230;
    color: #fff;
}

.header__top .left-right .right .quickview-cart h3 span{
    position: absolute;
    color: #C51230;
    top: -10px;
    right: -10px;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 18px;
    background: #ffffff;
    border-radius: 50%;
}



/* end quickview-cart */

/* header-abs-content */

.header .header-abs .header-abs-content {
    font-size: 1.6rem;
}

.header .header-abs .header-abs-content .header__logo {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .header-abs .header-abs-content .header__logo .search select {
    padding: 8px 10px;
    width: 20rem ;
    border:1px solid #C51230;
}

.header-abs .header-abs-content .header__logo .search select:focus {
    outline: none;
    border:1px solid #C51230;
}

.header-abs .header-abs-content .header__logo .search input {
    padding: 8px 10px;
    width: 35rem ;
    border:1px solid #C51230;
}

.header-abs .header-abs-content .header__logo .search input:focus {
    outline: none;
    border:1px solid #C51230;
}

.header-abs .header-abs-content .header__logo .search button {
    border:1px solid #C51230;
    padding: 8px;
    background-color:  #C51230;
    color:white;
}

.header-abs .header-abs-content .header__logo .search button:focus {
    outline: none;
    border:1px solid #C51230;
}

/* menu list */

.header-abs .header-abs-content ul.menu-list{
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
    display: flex;
    position: relative;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    line-height: 2.2rem;
}

.header-abs .header-abs-content ul.menu-list a{
    color: black;
    font-size: 1.4rem;
}

.header-abs .header-abs-content ul.menu-list a:hover{
    color: #C51230;
    text-decoration: none;
}

.header-abs .header-abs-content ul.menu-list li{
    padding: 1rem;
}

/* mega-menu */

.header-abs .header-abs-content ul.menu-list li.item-list .mega-menu{
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 100%;
    top:20%;
    left: 0;
    right: 0;
    visibility: hidden;
    transition: 0s ease;
    opacity: 0;
    display: flex;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
    border-radius: 3px;
}

.header-abs .header-abs-content ul.menu-list li.item-list a{
    font-weight: 900;
}

.header-abs .header-abs-content ul.menu-list li.item-list:hover .mega-menu{
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease;
    top: 90%;
}

.menu-list li.item-list .mega-menu .mega-menu-child{
    width: calc(100%/5);
    padding: 10px;
}

.menu-list li.item-list .mega-menu .mega-menu-child .mega-component{
    height: 100%;
    border:1px solid #DEDEDE;
}

.menu-list li.item-list .mega-menu .mega-menu-child .mega-component div{
    background-color: #c51230;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.menu-list li.item-list .mega-menu .mega-menu-child .mega-component a.title{
    color:white;
    padding: 1rem 0;
}

.menu-list li.item-list .mega-menu .mega-menu-child .mega-component img{
    width: 100%;
}

.menu-list li.item-list .mega-menu .mega-menu-child .mega-component ul.no-bullets{
    overflow-y:scroll;
    padding-left: 0px;
    height:250px;
}

.menu-list li.item-list .mega-menu .mega-menu-child .mega-component ul.no-bullets li{
    list-style: none;
    padding: 1rem;
    border-bottom: 1px dashed #5f5f5f;
}

#style-2::-webkit-scrollbar-track
{
    background-color: #D5D5D5;
}

#style-2::-webkit-scrollbar
{
    width: 5px;
    background-color: #D5D5D5;
}

#style-2::-webkit-scrollbar-thumb
{
    background-color: #C51230;
}

.menu-list li.item-list .mega-menu .mega-menu-child .mega-component ul.no-bullets li:last-child{
    border-bottom: 0px;
}

/* end mega menu */

/* menu drop down */

.header-abs .header-abs-content ul.menu-list li.item-list .menu-drop{
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 20rem;
    top:20%;
    visibility: hidden;
    opacity: 0;
    list-style-type: none;
    padding-left: 0px;
    transition: 0s ease;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
    border-radius: 3px;
}
.header-abs .header-abs-content ul.menu-list li.item-list:hover .menu-drop{
    visibility: visible;
    opacity: 1;
    top:90%;
    transition: 0.5s ease;
}

.header-abs .header-abs-content ul.menu-list li.item-list .menu-drop li {
    padding: 1.5rem 1rem;
    border-bottom: 1px dashed #5f5f5f;
}

.header-abs .header-abs-content ul.menu-list li.item-list ul.menu-drop > li:last-child  {
    border-bottom: 0px;
}

.header-abs .header-abs-content ul.menu-list li.item-list .menu-drop li span{
    float:right;
}

/* end menu drop */

/* header menu mobile */

.header__menu-mobile {
    padding: 10px 0;
    background-color: #C51230;
}

.header__menu-mobile .menu-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu-mobile .hd-menubar{
    display: flex;
    align-items: center;
}

.header__menu-mobile .hd-menubar i{
    font-size: 1.8rem;
}

.header__menu-mobile .hd-menubar .view .view-cart{
    position: relative;
}

.header__menu-mobile .hd-menubar .view .view-cart i{
    font-size: 1.4rem;
    color: #ffffff;
}

.header__menu-mobile .hd-menubar .view .hd-cart-count{
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    background: #ffffff;
    font-size: 10px;
    color: black;
    position: absolute;
    right: -7px;
    top: -13px;
    text-align: center;
}

.header__menu-mobile .hd-menubar .view{
    position: relative;
    cursor: pointer;
}

.header__menu-mobile .hd-menubar .view  .quickview-cart{
    position: absolute;
    top:100%;
    z-index: 20;
    text-align: left;
    top: 100%;
    right: 0px;
    width: 280px;
    padding: 5px;
    display: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}


.header__menu-mobile .hd-menubar .view  .quickview-cart h3{
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    display: block;
    text-transform: uppercase;
    background: #c51230;
    color: #fff;
}

.header__menu-mobile .hd-menubar .view .quickview-cart h3 span{
    position: absolute;
    color: #C51230;
    top: -10px;
    right: -10px;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 18px;
    background: #ffffff;
    border-radius: 50%;
}

.header__menu-mobile .hd-menubar .view .quickview-cart ul {
    padding-left: 0px;
}

.header__menu-mobile .hd-menubar .view .quickview-cart ul li{
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.header__menu-mobile .hd-menubar .menu-bar a{
    color: white;
    padding-left: 1rem;
}

.menu-bar .menu-mobile-content{
    background-color: rgba(197, 18, 48, 0.9);
    z-index: 1000;
    top: 0;
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 300px;
    transition: 1s ease;
    right: 0;
}

.menu-bar .menu-mobile-content .top-mobile {
    padding: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: auto;
}

.menu-bar .menu-mobile-content .top-mobile .draw-close{
    text-transform: uppercase;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-weight: 700;
}

.menu-bar .menu-mobile-content .top-mobile .draw-close button{
    outline: none;
    color: #ffffff;
    border: 0;
    background-color: rgba(197, 18, 48, 0.1);
}

.menu-bar .menu-mobile-content ul{
    list-style: none;
    padding-left: 0px;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 700;
    /* text-transform: uppercase; */
}

.menu-bar .menu-mobile-content>ul>li{
    padding: 1rem;
    border-bottom: 1px dashed #ffffff;
    text-transform: uppercase;
}
.menu-bar .menu-mobile-content ul li{    position: relative;
}
.menu-bar .menu-mobile-content>ul >li::before{
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.1s;
}

.menu-bar .menu-mobile-content ul li:hover::before{
    width: 5px;
}

.menu-bar .menu-mobile-content ul li:hover{
    background-color: rgba(197, 18, 48, 0.9);
    transition: 0.3s;
}

.menu-bar .menu-mobile-content ul li:last-child{
    border-bottom: 0px;
}

.menu-bar .menu-mobile-content ul.mobile-content li a{
    /* width: 100%; */
    /* display: inline-block; */
    position: relative;
}

.menu-bar .menu-mobile-content ul.mobile-content >li> div >a{
    text-transform: uppercase;
}

.menu-bar .menu-mobile-content ul.mobile-content li a:hover{
    text-decoration: none;
}

.menu-bar .menu-mobile-content ul.mobile-content li span{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    color: #fff;
    cursor: pointer;
    right: 0;
}
.menu-bar .menu-mobile-content ul.mobile-content>li span::after{
    content: '\002B';
    position: absolute;
    color: #fff;
    font-size: 2rem;
}

.menu-bar .menu-mobile-content ul.mobile-content>li span.active1::after{
    content: '\2212';
}
.menu-bar .menu-mobile-content ul.mobile-content li  a::before{
    position: absolute;
    width: 0px;
    bottom: 0;
    height: 2px;
    bottom: -2px;
    background-color: #fff;
    transition: 0.3s ease;
    content: '';
}

.menu-bar .menu-mobile-content ul.mobile-content li>div:hover>a:before{
    width: 100%;
}

.menu-bar .menu-mobile-content ul.mobile-content> li #click1 li{
    padding: 1rem ;
}





/* menu-item */

.menu-bar .menu-mobile-content .mobile-content ul#click1,
.menu-bar .menu-mobile-content .mobile-content ul#click2,
.menu-bar .menu-mobile-content .mobile-content ul#click3,
.menu-bar .menu-mobile-content .mobile-content ul#click4,
.menu-bar .menu-mobile-content .mobile-content ul#click5,
.menu-bar .menu-mobile-content .mobile-content ul#click6,
.menu-bar .menu-mobile-content .mobile-content ul#click7{
    max-height: 0;
    overflow: hidden;
} 

.menu-bar .menu-mobile-content .mobile-content ul.active1{
    max-height: 100% !important;
}

.menu-bar .menu-mobile-content .mobile-content ul.no-bullets li {
    text-transform: none;
    padding: 1rem;
}

.menu-bar .menu-mobile-content .mobile-content ul.no-bullets li a{
    position: relative;
}

.menu-bar .menu-mobile-content .mobile-content ul.no-bullets li a::before{
    position: absolute;
    width: 0px;
    bottom: 0;
    height: 2px;
    bottom: -2px;
    background-color: #fff;
    transition: 0.3s ease;
    content: '';
}

/* end menu item */

#style-1::-webkit-scrollbar-track
{
    background-color:rgba(197, 18, 48, 0.1);
}

#style-1::-webkit-scrollbar
{
    width: 5px;
    background-color:  rgba(197, 18, 48, 0.1);
}

#style-1::-webkit-scrollbar-thumb
{
    background-color: #ffffff;
}

.menu-bar .menu-mobile-content{
    overflow-y:scroll;
    padding-left: 0px;
    height:100vh;
}

/* end header menu mobile */

/* end menu list */

/* header back ground */

.header--bg{
    background-image: url('../img/breadcrumb_bg5.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.header--bg .header-title{
    padding: 12rem 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.header--bg .header-title h1{
    font-size: 2.4rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 3.4rem;
}

.header--bg .header-title p{
    font-size: 1.4rem;
    color:white;
    line-height: 2.2rem;
}

.header--bg .header-title p>a{
    color:white;
}

.header--bg .header-title p>a:hover{
    color:#C51230;
    text-decoration: none;
}


/* end header */

/* fixed social network */

.fixed-social-network{
    position: fixed;
    top:25%;
    right: -125px;
    z-index: 1000;
    font-family: 'Roboto', sans-serif;
    
}

.fixed-social-network a{
    border-radius: 3px;
    height: 4rem;
    padding: 0 2rem 0 1.5rem;
    display: block ;
    line-height: 4rem;
    width: 17rem;
    transform: translateX(0px);
    margin-bottom: 5px;
    font-size:12px ;
    transition:  all 0.6s ease;
    font-weight: 700;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3)
}

.fixed-social-network a:hover{
    transform: translateX(-120px);
    text-decoration: none;
}

.fixed-social-network a.fb-icon{
    background-color: #3B5998;
    color: #ffffff;
}

.fixed-social-network a.ins-icon{
    background-color: #C32AA3;
    color: #ffffff;
}

.fixed-social-network a.yt-icon{
    background-color:#FF0000;
    color: #ffffff;
}

.fixed-social-network a.tw-icon{
    background-color:#00B6F1;
    color: #ffffff;
}

.fixed-social-network a.gg-icon{
    background-color:#DF4A32;
    color: #ffffff;
}

.fixed-social-network a.in-icon{
    background-color:#0077b5;
    color: #ffffff;
}

.fixed-social-network a.top-icon{
    background-color:#c51230;
    color: #ffffff;
    display: none ;
    height: 4rem;
    width: 170px;
    padding: 0 2rem 0 1.5rem;
}

.fixed-social-network a.top-icon:hover{
    transform: translateX(-120px);
}


.fixed-social-network a>i{
    font-size:1.8rem ;
    margin-right: 2rem;
}

/* end fixed social network */

/* màn hình desktop */

.header .header__menu-mobile .menu-mobile-content{
    visibility: hidden;
    transition: 0.5s ease;
    right: -100%;
}

.header .header__menu-mobile .menu-mobile-content.active{
    visibility: visible;
    transition: 0.5s ease;
    right: 0%;
}

.header .header__menu-mobile {
    display: none;
}

.header .header-mobile-search{
    display: none;
}

@media(max-width:991px){
    /* header top */
    .header .header-abs{
       display: none;
   }
   .header .header__menu-mobile{
       display: block;
   }
   .header .header-mobile-search{
       display: block;
       padding: 1rem;
   }
   .header .header-mobile-search form.search {
       /* position: relative; */
       display: flex;
       font-size: 1.4rem;
       color: #959595;
   }
   .header .header-mobile-search .search select{
       height: 4rem;
       /* position: absolute; */
       border-right: 1px solid #DEDEDE;
       outline: none;
       border-top-left-radius: 5px;
       border-bottom-left-radius: 5px;
       width: 20%;
       color: #959595;
       border: 1px solid #DEDEDE;
   }

   .header .header-mobile-search .search div:nth-child(2){
       height: 4rem;
       width: 75%;
   }

   .header .header-mobile-search .search input{
       height: 4rem;
       border-left: 0px;
       border-right: 0px;
       outline: none;
       border-top: 1px solid #D5D5D5;
       border-bottom: 1px solid #D5D5D5;
       width: 100%;
       padding: 0 1rem;
   }

   .header .header-mobile-search .search div:nth-child(3){
       height: 4rem;
       width:5%;
   }

   .header .header-mobile-search .search button{
       height: 4rem;
       width: 100%;
       border: none;
       background-color: #C51230;
       border-top-right-radius: 5px;
       outline: none;
       border-bottom-right-radius: 5px;
       font-size: 1.6rem;
       color: #fff;
   }
   /* .header .header-mobile-search .search .input-group{
       position: relative;
       display: table;
   } */

   .navbar-fixed-top {
    top: -60px;
    width: 100%;
    transition: top 800ms ease 0s;
    position: fixed;
    z-index: 9999;
}
.show{
    top: 0px;
}
.fixed-social-network{
    display: none;
}
}

@media (max-width:480px){
    .header .header__menu-mobile .menu-mobile .hd-logo img{
        width: 50%;
    }
    #modal-modal .modal-content .popup{
        left: 0%;
        position: relative;
        width: 100%;
    
    }

    .header .header-mobile-search .search select{
        height: 4rem;
        /* position: absolute; */
        border-right: 1px solid #DEDEDE;
        outline: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 35%;
        color: #959595;
        border: 1px solid #DEDEDE;
    }
 
    .header .header-mobile-search .search div:nth-child(2){
        height: 4rem;
        width: 55%;
    }
 
    
 
    .header .header-mobile-search .search div:nth-child(3){
        height: 4rem;
        width:10%;
    }

    /* typical category */
    .typical__category .category-head h1{
        font-size: 1.8rem;
    }
    .typical__category .category .typical .typical-title h3{
        font-size: 1.4rem;
    }
    .typical__category .category .typical .typical-title {
        
        width: 100%;
        top: auto;
        bottom: 0;
        left: 0;
        right:0;
        transition: 0.7s ease;
    }
    /* news */
    .news .news-inner h1{
        font-size: 1.8rem;
    }
    /* design */
    .interior__design .design .design-title h1{
        font-size: 1.8rem;
        font-weight: 500;
    }
    .design .collection-body .collection-wrapper .collection-decs{
        padding: 1rem 0;
    }
    .design .collection-body .collection-wrapper .collection-decs .decs-title h3{
        font-size: 1.6rem;
        line-height: 20px;
    }
    .design .collection-body .collection-wrapper .collection-decs .decs-content h3{
        font-size: 1.4rem;
        line-height: 20px;
    }
    .design .collection-body .collection-wrapper .collection-decs .decs-btn{
        font-size: 1.2rem;
        margin-top: 1rem;
        padding: 5px 2rem;
    }
    .design .collection-body .collection-wrapper .collection-haft{
        padding: 1rem 0;
    }
    .design .collection-body .collection-wrapper .collection-haft .decs-title h3{
        font-size: 1.6rem;
        line-height: 20px;
    }
    .design .collection-body .collection-wrapper .collection-haft .decs-content h3{
        font-size: 1.4rem;
        line-height: 20px;
    }
    .design .collection-body .collection-wrapper .collection-haft .decs-btn{
        font-size: 1.2rem;
        margin-top: 1rem;
        padding: 5px 2rem;
    }
    .collection-body .col-sm-6 {
        width: 50%;
    }
    .address .address-contact-bg .address-inner .inner .address-inner-head h2{
        font-size: 1.8rem;
    }
    
}
