.wrapper{
    width: 100%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html img{
    width: 100%;
}



/* body */

.news{
    padding: 4rem 0;
    font-family: 'Roboto', sans-serif;
}

    /* article */

    .news .article .article-loop-item{
        padding-bottom: 5rem;
    }

    .news .article .article-loop-item .article-img>a {
        overflow: hidden;
        transition: 0.5s ease;
        display: block;
    }

    .news .article .article-loop-item .article-img>a>img{
        transition: 0.5s ease;
        width: 100%;
        transform: scale(1);
    }

    .news .article .article-loop-item .article-img>a:hover>img{
        transform: scale(1.05);
        transition: 0.5s ease;
    }

    .news .article .article-loop-item .article-loop-title a{
        font-size: 1.6rem;
        color: black;
        line-height: 2.2rem;
        font-weight: 500;
    }

    .news .article .article-loop-item .article-loop-title a:hover{
        color: #C51230;
        text-decoration: none;
    }

    .news .article .article-loop-item .article-loop-overview {
        font-size: 1.4rem;
        line-height: 2.2rem;
        display: flex;
        padding-top: 1rem;
    }

    .news .article .article-loop-item .article-loop-overview p{
        padding-right: 2rem;
    }

    .news .article .article-loop-item .article-loop-overview p>i{
        color: #C51230;
    }

    .news .article .article-loop-item .article-loop-decs {
        font-size: 1.4rem;
        line-height: 2.2rem;
        text-align: justify;
    }

    .news .article .article-loop-item .article-loop-viewmore {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .news .article .article-loop-item .article-loop-viewmore a{
        color: black;
    }

    .news .article .article-loop-item .article-loop-viewmore a:hover{
        color: #C51230;
        text-decoration: none;
    }

    /* pagination */

    #pagination .pagination-custom a {
        color: black;
        padding: 8px 12px;
        background-color:#F8F8F9;
        text-decoration: none;
        margin:5px;
        font-weight: 500;
        font-size: 1.6rem;
    }
      
    #pagination .pagination-custom a.active {
        background-color: #C51230;
        color: white;
        border-radius: 5px;
    }
      
    #pagination .pagination-custom a:hover:not(.active) {
        background-color: #C51230;
        color:white;
        border-radius: 5px;
    }

    /* end pagination */

    /* end article  */

    /* menubar */

    .menubar h1{
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 2.5rem;
        position: relative;
        margin-bottom: 3rem;
    }

    .menubar h1::after{
        position: absolute;
        content: '';
        width: 5rem;
        height: 3px;
        bottom: -10px;
        left: 0;
        background-color: #C51230;
    }

    .menubar .menubar-news {
        padding-bottom: 5rem;
    }

    .menubar .menubar-news .menubar-news-body a{
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: black;
        padding-bottom: 5px;
    }

    .menubar .menubar-news .menubar-news-body a:hover{
        color: #C51230;
        text-decoration: none;
    }

    /* menubar blog */

    .menubar .menubar-blog {
        padding-bottom: 5rem;
    }

    .menubar .menubar-blog .menubar-blog-body .blog-loop-item{
        display: flex;
        align-items: center;
    }

    .menubar .menubar-blog .menubar-blog-body .blog-img>a{
        overflow: hidden;
        display: block;
        transition: 0.5s ease;
    }

    .menubar .menubar-blog .menubar-blog-body .blog-img>a>img{
        overflow: hidden;
        width: 100%;
        transition: 0.5s ease;
    }

    .menubar .menubar-blog .menubar-blog-body .blog-img>a>img:hover{
        overflow: hidden;
        transform: scale(1.05);
        transition: 0.5s ease;
    }

    .menubar .menubar-blog .menubar-blog-body .blog-loop-item .blog-text {
        line-height: 2.2rem;
        font-size: 1.4rem;
    }

    .menubar .menubar-blog .menubar-blog-body .blog-loop-item .blog-text a{
        color: black;
    }

    .menubar .menubar-blog .menubar-blog-body .blog-loop-item .blog-text a:hover{
        color: #C51230;
        text-decoration: none;
    }

    /* menubar key */

    .menubar .menubar-keys ul{
        padding-left: 0px;
    }

    .menubar .menubar-keys ul.menubar-keys-body li{
        list-style: none;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .menubar .menubar-keys .menubar-keys-body a{
        font-size: 1.4rem;
        line-height: 2.2rem;
        border: 1px solid #dedede;
        color: #333333;
        white-space: nowrap;
        padding: 5px;
        display: block;
    }

    .menubar .menubar-keys .menubar-keys-body a:hover{
        border: 1px dashed #C51230;
        color: #C51230;
        text-decoration: none;
    }



    /* end menubar key */


    /* end menubar */

/* end body */

@media (min-width:767px){
    .menubar .menubar-blog .menubar-blog-body .blog-loop-item{
        padding-bottom: 1.5rem;
    }
    .news .article .article-loop-item .article-img{
        padding-bottom: 1rem;
    }
}

@media (max-width:480px){
    .menubar .menubar-blog .menubar-blog-body .blog-loop-item{
        padding-bottom: 1.5rem;
    }
    .news .article .article-loop-item .article-img{
        padding-bottom: 1rem;
    }
}