.wrapper{
    width: 100%;
    box-sizing: border-box;
}
html{
    font-size:62.5%; 
}



/* body */

.product-detail .product-detail-inner{
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

.product-detail .product-detail-inner .gallery .item img{
    width: 100%;
}

.product-detail .product-detail-inner .gallery2 .item img{
    border:2px solid #dedede !important;
}

.product-detail .product-detail-inner .pro-cont-head{
    padding-bottom: 2rem;
}

.product-detail .product-detail-inner .pro-cont-head .pro-type {
    padding-bottom: 5px;
}

.product-detail .product-detail-inner .pro-cont-head .pro-type a{
    font-size: 3rem;
    color: black;
}

.product-detail .product-detail-inner .pro-cont-head .pro-type a:hover{
    color: #C51230;
    text-decoration: none;
}

.product-detail .product-detail-inner .pro-cont-head h1{
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.product-detail .product-detail-inner .pro-stock{
    margin-bottom: 2rem;
    margin-right: 2rem;
    display: inline-block;
}

.product-detail .product-detail-inner .pro-stock span{
    border: 1px solid #2ECC71;
    color: #2ECC71;
    padding: 2px 2.5rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 2.2rem;
}

.product-detail .product-detail-inner .pro-brand {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;
}

.product-detail .product-detail-inner .pro-brand a{
    color: #C51230;
}

.product-detail .product-detail-inner .pro-brand a:hover{
    color: #ed3755;
    text-decoration: none;
}

.product-detail .product-detail-inner span{
    font-size: 1.6rem;
}

.product-detail .product-detail-inner .pro-sku{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
}

.product-detail .product-detail-inner .pro-share{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.product-detail .product-detail-inner .pro-share span{
    text-transform: uppercase;
    padding-right: 2rem;
}

.product-detail .product-detail-inner .pro-share a{
    padding-right: 1rem;
}

.product-detail .product-detail-inner .pro-share a .fa-facebook-square {
    background-color: #ffffff;
    color: #3B5998;
}

.product-detail .product-detail-inner .pro-share a .fa-twitter-square {
    background-color: #ffffff;
    color: #00B6F1;
}

.product-detail .product-detail-inner .pro-share a .fa-google-plus-square {
    background-color: #ffffff;
    color: #DF4A32;
}

.product-detail .product-detail-inner .pro-price span{
    font-size: 3.2rem;
    color: #C51230;
}

.product-detail .product-detail-inner .pro-price {
    padding-bottom: 2rem;
}

.product-detail .product-detail-inner form .product-varians {
    padding-bottom: 1rem;
}

.product-detail .product-detail-inner form .product-varians .product-select{
    display: flex;
    align-items: center;
}

.product-detail .product-detail-inner form .product-varians .product-head{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
}

.product-detail .product-detail-inner form .product-varians .product-hotline{
    font-size: 1.6rem;
}

.product-detail .product-detail-inner form .product-varians .product-hotline a{
    color: black;
    font-weight: 700;
}

.product-detail .product-detail-inner form .product-varians .product-hotline a:hover{
    color: #C51230;
    text-decoration: none;
}



.quantity-button.quantity-down {
    border: solid 1px #ccc;
    display: inline-block;
    line-height: 35px;
}

.quantity-button.quantity-up {
    border: solid 1px #ccc;
    display: inline-block;
    line-height: 35px;
    width: 30px;
    height: 35px;
    font-size: 1.6rem;
    text-align: center;
    justify-content: center;
}

.quantity input {
    border: solid 1px #ccc;
    display: inline-block;
    line-height: 35px;
    font-size: 1.6rem;
    height: 35px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    outline: none;
}

.quantity-button.quantity-down {
    float: left;
    width: 30px;
    font-size: 1.6rem;
    height: 35px;
    text-align: center;
    justify-content: center;
}

.product-detail .product-detail-inner form .product-quantity .modal-dialog .modal-content {
    border: 0px !important;
    float: left;
}

.modal-body {
    padding: 0rem !important;
}

.product-detail .product-detail-inner form{
    padding-bottom: 1.5rem;
}

.product-detail .product-detail-inner form .product-actions {
    padding-top: 2rem;
    display: flex;

}

.product-detail .product-detail-inner form .product-actions button{
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 1.5rem 0;
    border: 0px;
    outline: none;
}

.product-detail .product-detail-inner form .product-actions .add-to-cart{
    width: 50%;
    text-align: center;
    background-color:#f5f5f5 ; 
    color: #7a7d81;
}

.product-detail .product-detail-inner form .product-actions .buy-now{
    width: 50%;
    text-align: center;
    background-color: #C51230;
    color: #ffffff;
}

.product-detail .product-detail-inner .pro-short-decs{
    margin-bottom: 10px;
    padding: 10px 0px;
    border-top: 2px solid #dedede;
    border-bottom: 2px solid #dedede;
    color: black;
}

.product-detail .product-detail-inner .pro-short-decs p{
    margin-bottom: 0px;
}

.product-detail .product-detail-inner .pro-short-decs span{
    font-size: 1.8rem;
    text-align: justify;
}

    /* product description wrapper */

    .product-description-wrapper {
        font-family: 'Roboto', sans-serif;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 0px;
        padding-right: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        transition: 0.3s;
        font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
        cursor: pointer;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
        position: relative;
        outline: none;
        border: none;
    }

    .tab button.active::after {
        content: '';
        position: absolute;
        width: 5rem;
        height: 3px;
        background-color: #C51230;
        bottom: 5px;
        left: 0;

    }
    
    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
        margin-top: 1rem;
        background-color: #F8F8F9;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    
    .tabcontent ul{
        padding: 0 0 1.5rem 2rem;
    }
    .tabcontent img{
        width: 100%;
    }

    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    
    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    #comment .comment-content{
        padding: 2rem ;
        background-color: #ffffff;
    }

    #comment .comment-content .comment-head{
        border-bottom: 1px solid #E9EBEE;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    #comment .comment-content .comment-head select{
        background-color: #F5F6F7;
        border-radius: 3px;
    }

    #comment .comment-content .comment-content input{
        width: 100%;
        padding: 1.5rem;
        border-radius: 5px;
        border: 1px solid #E9EBEE;
    }

    #comment .comment-content .comment-content {
        border-bottom : 1px solid #E9EBEE;
    }

    #comment .comment-content .comment-linkface {
        padding: 1.5rem 0;
        font-size: 1.2rem;
    }

    #comment .comment-content .comment-linkface a{
        color: #3B5998;
    }

    #comment .comment-content .comment-linkface i{
        color: #3B5998;
        background-color: #ffffff;
        padding-right: 1rem;
    }

    .product-description-wrapper .product-bar{
        padding: 1.5rem;
        background-color: #F9F9F9;
    }

    .product-description-wrapper .product-bar .product-type{
        font-size: 1.8rem;
    }

    .product-description-wrapper .product-bar .product-type a{
        color:black;
    }

    .product-description-wrapper .product-bar .product-type a:hover{
        color:#C51230;
        text-decoration: none;
    }

    .product-description-wrapper .product-bar .product-title{
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 700;
        color: #C51230;
    }

    .product-description-wrapper .product-bar .product-img img{
        width: 100%;
    }

    .product-description-wrapper .product-bar .product-price {
        color: #C51230;
        font-size: 1.8rem;
        font-weight: 700;
    }

    .product-description-wrapper .product-bar .product-btn button {
        background-color: #C51230;
        font-size: 1.6rem;
        line-height: 2.6rem;
        color: #ffffff;
        font-weight: 500;
        width: 100%;
        padding: 1rem 0;
        text-transform: uppercase;
        border: 0px;
        outline: none;
    }

    /* product similar */

    .product-detail .product-similar{
        padding: 4rem 0;
        font-family: 'Roboto', sans-serif;
    }

    .product-detail .product-similar .container{
        padding-left: 0px;
        padding-right: 0px;
    }

    .product-detail .product-similar .similar-head h1{
        text-transform: uppercase;
        font-size: 3rem;
        line-height: 4.2rem;
        font-weight: 300;
        position: relative;
        margin-bottom: 3rem;
    }

    .product-detail .product-similar .similar-head h1::after{
        position: absolute;
        content: '';
        width: 5rem;
        height: 3px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -10px;
        background-color: #C51230;
    }

    .product-detail .product-similar .similar-body .product-item  {
        margin-bottom: 1.5rem;
        padding: 0 1.5rem;
    }

    .product-item .product-img {
        width: 100%;
        overflow: hidden;
        transition: 0.5s ease;
    }

    .product-item .product-img img{
        width: 100%;
        overflow: hidden;
        transition: 0.5s ease;
    }

    .product-item .product-img img:hover{
        transform: scale(1.2);
        overflow: hidden;
        transition: 0.5s ease;
    }

    .product-item .product-item-info .product-type {
        padding-bottom: 1rem;
    }

    .product-item .product-item-info .product-type a {
        color: black;
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .product-item .product-item-info .product-type a:hover {
        color: #C51230;
        text-decoration: none;
    }

    .product-item .product-item-info .product-title  {
        padding-bottom: 1rem;
    }

    .product-item .product-item-info .product-title a {
        color: black;
        font-size: 1.8rem;
        text-transform: uppercase;
        line-height: 2.2rem;
        font-weight: 700;
    }

     .product-item .product-item-info .product-title a:hover {
        color: #C51230;
        text-decoration: none;
    }

   .product-item .product-item-info .product-price  {
        color: #C51230;
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding-bottom: 1rem;
    }

     .product-item .product-item-info .product-btn  {
        display: flex;
    }

     .product-item .product-item-info .product-btn a {
        font-size: 1.2rem;
        line-height: 1.9rem;
        text-transform: uppercase;
    }

     .product-item .product-item-info .product-btn .add-to-cart {
        color: #8D8D8D;
        width: 50%;
        padding: 5px;
        background-color: #F5F5F5;
    }

    .product-item .product-item-info .product-btn .buy-now {
        color: white;
        width: 50%;
        padding: 5px;
        background-color: #C51230;
    }

    .similar-body .slick-dots li button{
        width: 20px !important;
        height: 20px !important;
        border-radius: 50%;
        color: #C51230 !important;
    }

    /* product viewed */

    .product-detail .product-viewed{
        padding-bottom: 4rem ;
        font-family: 'Roboto', sans-serif;
    }

    .product-detail .product-viewed .container{
        padding-left: 0px;
        padding-right: 0px;
    }

    .product-detail .product-viewed .viewed-head h1{
        text-transform: uppercase;
        font-size: 3rem;
        line-height: 4.2rem;
        font-weight: 300;
        position: relative;
        margin-bottom: 3rem;
    }

    .product-detail .product-viewed .viewed-head h1::after{
        position: absolute;
        content: '';
        width: 5rem;
        height: 3px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -10px;
        background-color: #C51230;
    }

    .product-detail .product-viewed .viewed-body .product-item  {
        margin-bottom: 1.5rem;
        padding: 0 1.5rem;
    }

    .slick-dots li button::before {
        font-size: 12px !important;
        color: #C51230 !important;
    }

    .slick-dots li {
        margin: 0 2px !important;
    }
    

/* end body */

@media(max-width:480px){
    .tab button {
        width: 100%;
        text-align: left;
    }
}