.wrapper{
    width: 100%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}



/* body */

.product{
    padding: 1.5rem 0;
    font-family: 'Roboto', sans-serif;
}

    /* product content */

    .product .product-head {
        padding-bottom:1rem;
    }

    .product .product-head h1{
        font-size: 3.2rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        margin-bottom: 3rem;
    }

    .product .product-head h1::after{
        content: '';
        width: 5rem;
        height: 3px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        bottom: -10px;
        background-color: #C51230;
    }

    .product .product-head .sorting{
        text-align: right;
        font-size: 1.4rem;
    }

    .product .product-head .sorting select{
        height:4rem;
        outline:none;
        border:1px solid #dedede;
    }

    .product .product-all .product-item  {
        margin-bottom: 1.5rem;
    }

    .product .product-all .product-item .product-img {
        width: 100%;
        overflow: hidden;
        transition: 0.5s ease;
    }

    .product .product-all .product-item .product-img img{
        width: 100%;
        overflow: hidden;
        transition: 0.5s ease;
    }

    .product .product-all .product-item .product-img img:hover{
        transform: scale(1.2);
        overflow: hidden;
        transition: 0.5s ease;
    }

    .product .product-all .product-item .product-item-info .product-type {
        padding-bottom: 1rem;
    }

    .product .product-all .product-item .product-item-info .product-type a {
        color: black;
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .product .product-all .product-item .product-item-info .product-type a:hover {
        color: #C51230;
        text-decoration: none;
    }

    .product .product-all .product-item .product-item-info .product-title  {
        padding-bottom: 1rem;
    }

    .product .product-all .product-item .product-item-info .product-title a {
        color: black;
        font-size: 1.8rem;
        text-transform: uppercase;
        line-height: 2.2rem;
        font-weight: 700;
    }

    .product .product-all .product-item .product-item-info .product-title a:hover {
        color: #C51230;
        text-decoration: none;
    }

    .product .product-all .product-item .product-item-info .product-price  {
        color: #C51230;
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding-bottom: 1rem;
    }

    .product .product-all .product-item .product-item-info .product-btn  {
        display: flex;
    }

    .product .product-all .product-item .product-item-info .product-btn a {
        font-size: 1.2rem;
        line-height: 1.9rem;
        text-transform: uppercase;
    }

    .product .product-all .product-item .product-item-info .product-btn .add-to-cart {
        color: #8D8D8D;
        width: 50%;
        padding: 5px;
        background-color: #F5F5F5;
    }

    .product .product-all .product-item .product-item-info .product-btn .buy-now {
        color: white;
        width: 50%;
        padding: 5px;
        background-color: #C51230;
    }

    /* pagination */


    .product .product-all #pagination  {
        padding: 2.5rem 0;
    }

    .product .product-all #pagination .pagination-custom a {
        color: black;
        padding: 8px 12px;
        background-color:#F8F8F9;
        text-decoration: none;
        margin:5px;
        font-weight: 500;
        font-size: 1.6rem;
    }
      
    .product .product-all #pagination .pagination-custom a.active {
        background-color: #C51230;
        color: white;
        border-radius: 5px;
    }
      
    .product .product-all #pagination .pagination-custom a:hover:not(.active) {
        background-color: #C51230;
        color:white;
        border-radius: 5px;
    }

    /* end pagination */

    /* end product content */




    /* menuside bar */

    .product .menuside-bar .item-side-bar button.accordion {
        border:none;
        background-color: white;
        padding: 1rem 0px;
        width: 100%;
        outline: none;
        position: relative;
        display: block;
        text-transform: uppercase;
        font-size: 1.6rem;
        line-height: 2.6rem;
        font-weight: 500;
        text-align: left;
        border-bottom: 1px solid #dedede;
    }

    .product .menuside-bar .item-side-bar button.accordion::after{
        content: '\2212';
        width: 1rem;
        position: absolute;
        color: #C51230;
        right: 1rem;
    }

    .product .menuside-bar .item-side-bar button.accordion.active1::after{
        content: '\002B';
        width: 1rem;
        position: absolute;
        color: #C51230;
        right: 1rem;
    }

    .product .menuside-bar .item-side-bar .panel{
        max-height: 100%;
        overflow: hidden;
        transition: 0.3s ease;
    }

    .product .menuside-bar .item-side-bar .active{
        max-height: 0;
        transition: 0.3s ease;
    }

    .product .menuside-bar .item-side-bar .panel ul.no-bullets {
        padding-left: 0px;
        padding: 1rem;
    }

    .product .menuside-bar .item-side-bar .panel ul.no-bullets li{
        list-style: none;
        padding-bottom: 5px;
    }

    .product .menuside-bar .item-side-bar .panel ul.no-bullets li>a{
        color: black;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    .product .menuside-bar .item-side-bar .panel ul.no-bullets li>a:hover{
        color: #C51230;
        text-decoration: none;
    }

    .product .menuside-bar .item-side-bar .panel ul.no-bullets li>ul.no-bullets{
        padding-left: 1.5rem;
    }

    .product .menuside-bar .item-side-bar .panel ul.no-bullets li>ul.no-bullets li>a{
        text-transform: none;
        font-weight: 300;
    }

    /* khoảng giá */

    .product .menuside-bar .item-side-bar .panel ul.no-bullets label{
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .product .menuside-bar .item-side-bar .panel ul.no-bullets li input[type="checkbox"]{
        width: 1.6rem !important;
        height: 1.6rem !important;
        background: none;
        border: 1px solid #dedede !important;
        display: inline-block;
        vertical-align: middle;
    }

    .product .menuside-bar .item-side-bar .panel ul.no-bullets li input[type="checkbox"]:checked:after {
        content: '\2714';
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        display: block;
        outline: none;
        color: #C51230;
        outline: 1px solid #fff;
        background-color: #fff;
        border: 1px solid #dedede;
    }

    .product .menuside-bar .item-side-bar .panel ul.no-bullets li input {
        margin-right: 1rem;
    }

    /* end khoảng giá */

    /* màu sắc */

    .product .menuside-bar .item-side-bar #menubar7 ul.no-bullets {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .product .menuside-bar .item-side-bar #menubar7 ul.no-bullets li{
        width: 50%;
    }


    /* end màu sắc */

    /* end menuside bar */


/* end body */
@media (max-width:767px){
    .product .product-all .product-item .product-item-info .product-btn  {
        display: none;
    }

}
@media(max-width:480px){
    
}