.wrapper{
    width: 100%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}



/* register */

.register{
    padding: 1.5rem 0;
    font-family: 'Roboto', sans-serif;
}

    /* register head */

    .register .register-head h1{
        font-size: 3.2rem;
        line-height: 4.5rem;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 3rem;
    }

    .register .register-head h1::after{
        position: absolute;
        bottom: -10px;
        right: 0;
        left: 0;
        margin: auto;
        width: 5rem;
        height: 3px;
        content: '';
        background-color: #C51230;
    }

    /* end register head */

    /* register body */

    .register .register-body{
        max-width: 375px;
        right: 0;
        left: 0;
        margin: auto;
    }

    .register .register-body form input{
        width: 100%;
        margin: 5px 0;
        padding: 10px 10px;
        border: 1px solid #DEDEDE;
        font-size: 1.4rem;
        border-radius: 3px;
    }

    .register .register-body form input:focus{
        border: 1px solid #DEDEDE;
        outline: none;
    }

    .register .register-body form button{
        width: 100%;
        margin: 5px 0;
        padding: 10px 10px;
        border: 1px solid #C51230;
        background-color: #C51230;
        font-size: 1.4rem;
        border-radius: 3px;
        color: white;
    }

    .register .register-body form button:focus{
        border: 1px solid #C51230;
        outline: none;
    }

    .register .register-body form button:hover{
        background-color: #960e25;
    }

    .register .register-body form p{
        margin:  1rem;
    }

    .register .register-body form p>a{
        color: #C51230;
        font-size: 1.4rem;
    }

    .register .register-body form p>a:hover{
        color: #ed3755;
        text-decoration: none;
    }

    /* end register body */

/* end register */